*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

header{
	background-color: #FFF200;
	text-align: center;
	height: 44px;
}


/*Nav*/
nav{
	background-color: black;
}

nav ul{
	display:flex;
	justify-content: space-between;
	align-items: center;
}

ul{
	list-style:none;
}

a{
	text-decoration:none;
}

nav ul li, a{
	color: White;
	font-size: 12px;
}

.container{
	max-width: 1200px;
	margin: auto;
	z-index: 1;
}
.container img{
	height: 100%;
}

nav ul li:nth-child(2) a{
	color: #FFF200;
}

nav ul li:nth-child(2) i{
	color: #FFF200;
	font-size: 15px;
	margin-left: 6px;
}

nav ul li:nth-child(3){
	position:relative;
}


nav ul li:nth-child(3) input{
	height: 30px;
	width: 100%;
	border-radius: 5px;
	border: none;
	padding-left: 6px;
	outline: none;
}

nav ul li:nth-child(3) i{
	position: absolute;
	font-size: 15px;
	right: 12px; 
	color: #333;
	line-height: 30px;
}


nav ul li:nth-child(4) button{
	height: 30px;
	padding: 0 8px;
	cursor: pointer;
	background-color: transparent;
	color: #FFF;
	border: 1px solid rgb(70,68,68);
	border-radius: 5px;
	transition : all 0.3s ease;
	
}

nav ul li:nth-child(4) button i{
	margin-right: 6px;
	
	
}

nav ul li:nth-child(4) button:hover {
	background-color: rgb(100,97,97);
}


nav ul li:nth-child(5){
	text-align: center;
}

nav ul li:nth-child(5):hover a{
	color: #FFF200;
}




.btn-top{
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius:100%;
	background-color: #cfc50a;
	
	display:block;
	pointer-events: none;
	animation: btnani 1s linear infinite;
}

@keyframes btnani{
	from {
		opacity: 0.4;
	}
	to {
		transform: scale(3);
	}
}

.btn-content{
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #FFF200;
	/*display: inline-block;*/
	float: left;
	margin-right: 8px;
}




nav ul li:nth-child(6) a{
	color: #FFF200;
	cursor: pointer;
}

nav ul li:nth-child(7):hover a{
	color: #FFF200;
	cursor: pointer;
	
}

nav ul li:nth-child(8):hover a{
	color: #FFF200;
	cursor: pointer;
}

nav ul li:nth-child(9):hover a{
	color: #FFF200;
	cursor: pointer;
}		


/*menu bar*/
.menu-bar{
	background-color: #FED100;
	
}

.menu-bar ul{
	display: flex;
	justify-content: space-between;

}


.menu-bar ul li a{
	color: black;
	font-size: 13px;
	font-weight: bold;
}

.menu-bar ul li a i{
	margin-right: 6px;
	font-size: 16px;
}


.menu-bar-content > ul > li{
	transition: all 0.3s ease;
	padding: 15px 6px;
	z-index: 2;
}

.menu-bar ul li:hover{
	background-color: #FFF;
}

.menu-bar-content > ul > li:nth-child(9){
	position: relative;
	
}

.menu-bar-content > ul > li:nth-child(9):before{
	position: absolute;
	content: "Giảm 5%";
	display: block;
	height: 15px;
	width: 45px;
	background-color: #f51212;
	border-radius:5px;
	right: -25px;
	top:2px;
	font-size: 10px;
	padding-left: 3px;
	color:#FFF;
}


.menu-bar-content > ul > li:nth-child(9):after{
	position: absolute;
	content:"";
	background-color:#f51212 ;
	height: 7px;
	width:7px;
	display: block;
	top:11.5px;
	right: 10px;
	transform: rotate(45deg);	
}


/* adress form*/
.address-form{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgb(0,0,0,0.6);
	top:0;
	left:0;
	display:flex;
	align-items:center;
	justify-content: center;
	text-align:center;
	color:#333;
	display: none;
	z-index: 999;
	
}

.address-form-content{
	width: 476px;
	height: 450px;
	background-color: #FFF;
	border-radius: 5px;
}

.address-form-content form{
	padding: 12px 40px;	
}

.address-form-content h2{
	font-size: 14px;
	padding: 12px 0;
	border-bottom:1px solid #DDD; 
	position: relative;
}

.address-form-content h2 span{
	
	display: block;
	position: absolute;
	height: 30px;
	padding: 0 6px;
	border:1px solid #DDD;
	right: 12px;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%);
	line-height: 30px;
	border-radius: 5px;
	background-color: lightblue;
}

.address-form-content h2 span:hover{
	background-color: #CCC;
	font-weight: bold;
	transition : all 0.3s ease;
}



.address-form-content form input,select{
	height: 45px;
	display: block;
	width: 100%;
	margin-top: 20px;
	padding: 6px;
	border:1px solid #DDD;
	border-radius: 5px;
}


.address-form-content form p{
	font-size: 16px;	
}

.address-form-content form button{
	margin-top: 30px;
	height: 40px;
	width:80%;
	cursor:pointer;
	background-color: #F97E0E;
	outline: none;
	border: none;
	color: #FFF;
	border-radius: 5px;
}

.address-form-content form button:hover{
	background-color: #CCC;
	font-weight: bold;
	transition : all 0.3s ease;
}



/*--submenu--*/

.menu-bar-content ul li{
	position: relative;
	
}

.submenu {
	position:absolute;
	background-color: #DDD;
	width: 300px;
	height: auto;
	left: 0;
	top: 100%;
	padding: 12px;
	display: none;
}

.submenu ul{
	display: flex;
	flex-direction: column;
}

.submenu ul li{
	padding: 6px 0;
	z-index: 2;
}

.menu-bar-content ul li:hover .submenu{
	display: block;
	
}


.submenu ul li:hover a{
	color: blue;
}

.submenu ul li:hover{
	background: none;
}






/*slide*/

li{
	list-style:none;
}

.slider{
	padding: 20px 0;
	height: 350px;
}

.slide-content{
	display: flex;
	justify-content: space-between;
	
}

.slide-content-left{
	width: 75%;
		
}

.slide-content-left-top{
	width: 100%;
	height: 300px;
	position: relative;
	
}

.slide-content-left-top img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;

}

.slide-content-left-bottom{
	display: flex;
	justify-content:space-between;
	border: 2px solid #DDD;
	border-top: none;
	height: 50px;
	
	
}

.slide-content-left-bottom li{
	width: 20%;
	text-align: center;
	cursor: pointer;
	padding: 6px 0;
	height: 100%;
	line-height: 38px;
	position: relative;
	border-top: 4px solid #FFF;
	border-bottom: 4px solid #FFF;
	border-radius: 10px;
}

.slide-content-left-bottom li:before{
	display: block;
	content:"";
	position: absolute;
	height: 70%;
	width: 1px;
	background-color:#DDD;
	right: 0;
}

.slide-content-left-bottom li.active{
	border-top: 4px solid #FFF200;
}	



.slide-content-left-top-btn{
	position: absolute;
	top: 50%;
	display: flex;
	justify-content: space-between;
	width: 100%;
}


.slide-content-left-top-btn i{
	color: #333;
	font-size: 32px;
	height: 50px;
    width: 25px;
	background-color: rgb(238,228,228);
	justify-content: center;
	display: flex;
	align-items: center;
	transform: translateY(-50%);
	border-radius: 5px;
	opacity: 0;
	transition: all 0.3s ease;
}


.slide-content-right{
	width: 35%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 0px;
	padding-bottom: 0px;
	justify-content: space-around;

	
	
}

.slide-content-right li{
	width: 50%;
	height: 50%;
	text-align: right;
	margin-bottom: 3px;
	
	
}



.slide-content-right img {
	border: none;
	border-radius: 10px;
	
}

/*.slide-content-left-top:hover i{
	opacity: 1;
	box-shadow: 2px 2px;
	cursor: pointer;
}*/


/*slide js1*/

.slide-content-left-top img{
	position: absolute;
}

.slide-content-left-top a:nth-child(2) img{
	transform: translateX(100%);
}

.slide-content-left-top a:nth-child(3) img{
	transform: translateX(200%);
}

.slide-content-left-top a:nth-child(4) img{
	transform: translateX(300%);
}

.slide-content-left-top a:nth-child(5) img{
	transform: translateX(400%);
}

.slide-content-left-top-container{
	position: relative;
	overflow: hidden;
}

.slide-content-left-top-container:hover i{
	opacity: 1;
	box-shadow: 2px 2px;
	cursor: pointer;
}

.slide-content-left-top{
	transition: all 0.3s ease;
}


.slide-content-left-bottom li.active{
	border-top: 4px solid #e6da02;
	font-weight: bold;
}

/*Banner 1*/
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner-one {
    margin-top: 30px;
    width: 100%;
    overflow: hidden; 
    animation: fadeInUp 1.5s ease-out forwards; 
	animation-iteration-count: infinite;
}

.banner-one img {
    width: 100%;
    display: block; 
}


/*slide products*/
.container {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}

.slide-product-one-content {
    background-color: #fed100;
    padding: 12px;
}

.slide-product-one-content-title h2 {
    font-size: 24px;
    color: #333;
    text-align: left;
    font-style: italic;
	margin-bottom: 5px;
}

.slide-product-one-content-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
	justify-content: flex-start;
    margin-top: 20px;
	gap: 15px;
}



.slide-product-one-content-item {
    width: 23%;
    background-color: #FFF;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-left: 8px;
}


.slide-product-one-content-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.slide-product-one-content-item img:hover {
    transform: scale(1.05);
}


.slide-product-one-content-item > button{
	margin-top: 5px;
	height: 30px;
	padding: 0 12px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	transition: all 0.3s ease;
}


.slide-product-one-content-item > button:hover{
	background-color: #333;
	color: #FFF;
	font-weight: bold;
}

.slide-product-one-content-item-text {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.slide-product-one-content-item-text li {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}

.slide-product-one-content-item-text li img {
    vertical-align: middle;
    margin-right: 5px;
}

.slide-product-one-content-item-text li p {
    display: inline;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*2 bên banner*/
@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

.banner-left, .banner-right {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    animation: blink 3s infinite; 
}

.banner-left {
    left: 30px;
}

.banner-right {
    right: 30px;
}

.banner-left img, .banner-right img {
    width: 100%;
    height: 100%; /* Adjust based on your image */
    cursor: pointer;
}


#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#scrollToTopBtn:hover {
    background-color: light orange;
}

#scrollToTopBtn img {
    width: 60%;
    height: 60%;
	border: solid 2px black;
}

/*----Giỏ hàng----*/
.cart {
    width: 45%;
    text-align: center;
    
    display: none; /* Ẩn phần giỏ hàng ban đầu */
    position: fixed;
    top: 20%;
    right: 0;
    background-color: #fff;
    height: 70%;
    overflow-y: auto;
    box-shadow: -3px 0px 6px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease-in-out;
    z-index: 9999;
    transform: translateY(-50%); /* Căn giữa theo chiều dọc */
    border-radius: 10px;
}

.cart h2 {
    margin-bottom: 20px;
}

.cart table {
    width: 85%;
    margin: auto; /* Căn giữa bảng */
    text-align: center; /* Căn giữa nội dung của bảng */
}

.cart table thead tr th:first-child {
    text-align: left;
}

.cart table tr td {
    border-bottom: 1px solid #DDD;
    padding: 12px 0;
}

.cart table thead tr th:last-child {
    text-align: right;
}

.cart table tbody tr td:last-child {
    margin-right: 50px;
}

/* Hiển thị phần giỏ hàng */
.cart.show-cart {
    display: block;
    transform: translateX(0%);
    transition: all 0.8s ease;
}

.btn-close-cart {
    position: sticky;
    top: 10px; /* Khoảng cách từ trên cùng của phần tử cha */
    left: 10px; /* Khoảng cách từ bên trái của phần tử cha */
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    z-index: 10000; /* Đảm bảo nút đè lên phần còn lại */
}

.cart-header {
	position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10000; /* Đảm bảo tiêu đề đè lên phần còn lại */
    padding: 10px; /* Thêm padding để có khoảng cách giữa các phần tử */
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between; /* Căn giữa theo chiều ngang và tạo khoảng cách giữa các phần tử */
    align-items: center; /* Căn giữa theo chiều dọc */
	margin-bottom: 10px;
}

.cart-header h2{
	margin: 10px auto; 
}


/*Tìm kiếm trong giỏ hàng*/
.cart-search {
    padding: 10px;
    text-align: center;
	
	
	
}

.cart-search input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
	
}









